@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-family: 'Poppins', sans-serif;
  --color-text: #333333;
  --color-heading: #166534; /* text-green-800 */
  --color-subheading: #1f2937; /* text-gray-800 */
}

@layer base {
  /* Añade esto para eliminar márgenes y rellenos predeterminados */
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  /* Asegúrate de que el cuerpo ocupe toda la altura de la ventana */
  html, body {
    height: 100%;
  }

  body {
    @apply font-sans text-base text-gray-800;
    font-family: var(--font-family);
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-bold;
    font-family: var(--font-family);
  }
}

@layer components {
  .section-title {
    @apply text-4xl md:text-5xl font-bold text-center md:text-left text-green-800;
  }

  .subsection-title {
    @apply text-2xl font-semibold text-gray-700;
  }

  p {
    @apply font-light;
  }

  /* Asegúrate de que las secciones no tengan márgenes verticales por defecto */
  section {
    @apply w-full;
  }
}

.container {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

header {
  width: 100%;
  box-sizing: border-box;
  padding: 0 15px; /* Ajusta según sea necesario */
}

/* Aquí puedes agregar estilos globales adicionales si los necesitas */
